body {
  background-color: #F5F7FA;
  font-family: 'Noto Sans TC', sans-serif;
}

a, a:visited {
  color: #0594CB;
}

footer {
  text-align: center;
}

.container {
  background-color: white;
  margin: 20px 60px;
  padding: 20px;
  border-radius: 7px;
}

.header-bar {
  margin-left: auto;
  margin-right: auto;
  height: 100px;
	background-color: #12A3EB;
	background-image: -webkit-linear-gradient(top, #6ACEFF 0%, #0076B1 2px, #12A3EB 92px, #12A3EB 100%);
	background-image: linear-gradient(to bottom, #6ACEFF 0%,#0076B1 2px,#12A3EB 92px,#12A3EB 100%);
  background-repeat: repeat-x;
  padding-left: 20px;
  border-radius: 10px 10px 0 0;
}

.header-bar a {
  font-size: 2.5em;
  color: white;
  line-height: 100px;
  text-decoration-line: none;
}

@media only screen and (max-width: 480px) {
  .container {
    margin: 0;
    padding: 0;
  }

  .header-bar {
    border-radius: 0;
  }

  .header-bar a {
    font-size: 1.2em;
  }

  .article-box {
    padding: 0 !important;
    border-radius: 0 !important;
  }

  .main-menu {
    padding: 0 !important;
    border-radius: 0 !important;
  }

  .page {
    padding: 0 !important;
    border-radius: 0 !important;
  }

  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.3em;
  }

  h3 {
    font-size: 1.1em;
  }

  #tags {
    display: none;
  }

}

img {
  max-width: 100%;
  height: auto;
}

.main-menu{
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1.3em;
  background-color: #CADCEB;
  border-radius: 0 0 10px 10px;
  padding-left: 10px;
}

.main-menu>li {
  display: inline;
  padding: 0;
  line-height: 40px;
}

.main-menu>li a {
  color: #0076B1;
  display: inline-block;
  text-decoration-line: none;
  padding: 0 5px;
}

.main-menu>li a:hover {
  background-color: #12A3EB;
  color: white;
}

.article-box {
  background-color: #0076B1;
  background-image: -webkit-linear-gradient(top, #6ACEFF 0%, #12A3EB 2px, #0076B1 92px, #0076B1 100%);
  background-image: linear-gradient(to bottom, #6ACEFF 0%,#12A3EB 2px,#0076B1 92px,#0076B1 100%);
  background-repeat: repeat-x;
  border-radius: 10px;
  padding: 0 10px 5px 10px;
}

.article-box-title {
  color: white;
  text-decoration-line: none;
  padding-top: 5px;
  height: 10px;
  font-size: 1.2em;
}

.article-list {
  background-color: #ECF3F7;
}

.article {
  border-bottom:1px #0076B1 solid;
  padding: 5px 10px;
}

.article:hover {
  background-color: #F6F4D0;
}

.article-title {
  margin: 0;
  padding: 0;
}

.article-title>a {
  color: #105289;
  text-decoration-line: none;
  text-shadow: 0.1em 0.1em 0.2em rgba(180, 176, 176, 0.979);
}

.article-summary {
  margin: 0 0 0 20px;
  padding-bottom: 10px;
}

.pagination {
  text-align: right;
  margin: 0;
  padding: 5px 0;
}

.pagination>li {
  display: inline-block;
  background-color: #ECEDEE;
  border: #B4BAC0 1px solid;
}

.pagination>li.active {
  background-color: #4692BF;
}

.pagination>li:hover {
  background-color: #4692BF;
}

.pagination>li a {
  color: darkslategray;
  text-decoration-line: none;
  font-size: 1.3em;
  padding: 3px 6px;
}

.pagination>li:hover a {
  color: white;
}

.pagination>li.active a {
  color: white;
}

.pagination>.triple-dot {
  background-color: transparent;
  border: 0px;
  color: white;
}

.pagination>.triple-dot:hover {
  background-color: transparent;
}

.article-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#article-info {
  list-style-type: none;
}

#tags {
  font-size: 1.2em;
  text-align: right;
}

#tags>a {
  background-color: rgba(106, 205, 255, 0.192);
  padding: 2px;
  text-decoration: none;
  border: 1px #4692BF dashed;
}

#tags>a:hover {
  background-color: rgba(15, 73, 102, 0.644);
  color: white;
}

.tags-item {
  display: inline-block;
  text-decoration-line: none;
  color: white;
  background-color: #105289;
  border-radius: 10px;
  margin: 3px;
  padding: 10px;
  box-shadow:4px 4px 3px rgba(20%,20%,40%,0.5);
}

.tags-item:visited {
  color: white;
}

.tags-item:hover {
  background-color: #ECEDEE;
  color: #105289;
}

.page {
  background-color: #E1EBF2;
  border-radius: 10px;
  margin-top: 20px;
  padding: 10px 20px;
}

pre,
code {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}