<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ .Title }}</title>
	{{- with .Site.Params.description }}
	<meta name="description" content="{{ . }}">{{ end }}
	{{- with .Site.Params.author }}
	<meta name="author" content="{{ . }}">{{ end }}
	<link rel="stylesheet" href="{{ "css/normalize.css" | relURL }}">
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css"
		integrity="sha256-UzFD2WYH2U1dQpKDjjZK72VtPeWP50NoJjd26rnAdUI=" crossorigin="anonymous" />
	<link rel="stylesheet" href='{{ "css/prism.css" | relURL }}'>
	<link rel="stylesheet" href='{{ "css/style.css" | relURL }}'>
	{{ with .OutputFormats.Get "RSS" -}}
	{{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
	{{- end }}
</head>

<body>
	<div class="container">
		{{ partial "header" . }}
		{{ block "main" . }}{{ end }}
		{{ partial "footer" . }}
	</div>
	<script src='{{ "js/prism.js" | relURL }}'></script>
	<script>
		var links = document.links;

		for (var i = 0, linksLength = links.length; i < linksLength; i++) {
			if (links[i].hostname != window.location.hostname) {
				links[i].target = '_blank';
			}
		}
	</script>
</body>

</html>