{{ define "main" }}
<main class="article-box">
	{{ if or .Title .Content }}
	<p class="article-box-title">
		{{ with .Title }}{{ . }}{{ end }}
		{{ with .Content }}{{ . }}{{ end }}
	</p>
	{{ end }}
	<div class="article-list">
		{{ range .Paginator.Pages }}
		{{ .Render "summary" }}
		{{ end }}
	</div>
	{{ partial "pagination.html" . }}
</main>
{{ end }}