{{ define "main" }}
<main class="page">
	<article>
		<div class="article-flex">
			<h1>{{ .Title }}</h1>
			<ul id="article-info">
				<li><i class="fas fa-pen"></i> {{ $.Param "author" }}</li>
				<li><i class="fas fa-book"></i> {{ T "wordCount" .WordCount }}</li>
				<li><i class="far fa-clock"></i> {{ T "readingTime" .ReadingTime }}</li>
				<li><i class="far fa-calendar-alt"></i> <time>{{ .Date.Format "2006/01/02 15:04" }}</time></li>
			</ul>
		</div>
		<div>
			{{ .Content }}
		</div>
		<div id="tags">
			{{ if .Params.tags }}
			<i class="fas fa-tags"></i>
			{{ range .Params.tags }}
			<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
			{{ end }}
			{{ end }}
		</div>
		<div>
			{{ template "_internal/disqus.html" . }}
		</div>
	</article>
</main>
{{ end }}