<article class="article">
	<h1 class="article-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
	<div class="article-flex">
		<div id="article-info">
			<i class="fas fa-pen"></i> {{ $.Param "author" }} &nbsp;
			<i class="fas fa-book"></i> {{ T "wordCount" .WordCount }} &nbsp;
			<i class="far fa-clock"></i> {{ T "readingTime" .ReadingTime }} &nbsp;
			<i class="far fa-calendar-alt"></i> <time>{{ .Date.Format "2006/01/02 15:04" }}</time>
		</div>
		<div id="tags">
			{{- if .Params.tags -}}
			<i class="fas fa-tags"></i>
			{{- range .Params.tags -}}
			<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
			{{- end -}}
			{{- end -}}
		</div>
	</div>
	<hr>
	<div class="article-summary">
		{{ .Summary }}
		{{- if .Truncated }}
		<a href="{{ .Permalink }}">{{ T "readmore" }}</a>
		{{- end }}
	</div>
</article>