{{ define "main" }}
<main class="page">
  {{ $name := .Data.Plural -}}
  {{ $terms := .Data.Terms.ByCount -}}
  {{ $length := len $terms -}}

  {{ range $key, $value := $terms }}
  <a href="{{ $name | relLangURL }}/{{ $value.Term | urlize }}/" class='tags-item'>
    <i class="fas fa-tags"></i>
    {{ $value.Term }}
    <span class="tag-count">({{ len $value.Pages }})</span>
  </a>
  {{ end }}
</main>
{{ end }}