<header>
	<div class="header-bar">
		<a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
	</div>
	{{- with .Site.Menus.main }}
	<nav>
		<ul class="main-menu">
			{{- range . }}
			<li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
			{{- end }}
		</ul>
	</nav>
	{{- end }}
</header>