<div>
	{{- $paginator := .Paginator -}}
	{{- $adjacent_links := 2 -}}
	{{- $max_links := (add (mul $adjacent_links 2) 1) -}}
	{{- $lower_limit := (add $adjacent_links 1) -}}
	{{- $upper_limit := (sub $paginator.TotalPages $adjacent_links) -}}
	{{- if gt $paginator.TotalPages 1 }}
	<ul class="pagination">
		{{- if $paginator.HasPrev }}
		<li>
			<a href="{{ $paginator.Prev.URL }}">«</a>
		</li>
		{{- end }}
		{{- if gt $paginator.TotalPages (add (mul $adjacent_links $adjacent_links) 1) }}
		{{- if gt $paginator.PageNumber (add $adjacent_links 1) }}
		<li>
			<a href="{{ $paginator.First.URL }}">1</a>
		</li>
		{{- if gt $paginator.PageNumber (add $adjacent_links 2) }}
		<li class="triple-dot">...</li>
		{{- end }}
		{{- end }}
		{{- end }}
		{{- range $paginator.Pagers -}}
		{{- $.Scratch.Set "page_number_flag" false -}}
		{{- if gt $paginator.TotalPages $max_links }}
		{{- if le $paginator.PageNumber $lower_limit }}
		{{- if le .PageNumber $max_links }}
		{{- $.Scratch.Set "page_number_flag" true -}}
		{{- end }}
		{{- else if ge $paginator.PageNumber $upper_limit -}}
		{{- if gt .PageNumber (sub $paginator.TotalPages $max_links) }}
		{{ $.Scratch.Set "page_number_flag" true }}
		{{- end }}
		{{- else -}}
		{{- if and ( ge .PageNumber (sub $paginator.PageNumber $adjacent_links) ) ( le .PageNumber (add $paginator.PageNumber $adjacent_links) ) }}
		{{ $.Scratch.Set "page_number_flag" true }}
		{{- end }}
		{{- end }}
		{{- else -}}
		{{ $.Scratch.Set "page_number_flag" true }}
		{{- end }}
		{{- if eq ($.Scratch.Get "page_number_flag") true }}
		<li class="{{- if eq . $paginator }}active{{- end }}">
			<a href="{{ .URL }}" class="">{{ .PageNumber }}</a>
		</li>
		{{- end }}
		{{- end }}
		{{- if gt $paginator.TotalPages (add (mul $adjacent_links $adjacent_links) 1) }}
		{{- if lt $paginator.PageNumber (sub $paginator.TotalPages (add $adjacent_links 1)) }}
		<li class="triple-dot">...</li>
		{{- end }}
		{{- if lt $paginator.PageNumber (sub $paginator.TotalPages $adjacent_links) }}
		<li>
			<a href="{{ $paginator.Last.URL }}">{{ $paginator.TotalPages }}</a>
		</li>
		{{- end }}
		{{- end }}
		{{- if $paginator.HasNext }}
		<li>
			<a href="{{ $paginator.Next.URL }}">»</a>
		</li>
		{{- end }}
	</ul>
	{{- end }}
</div>