<aside>
	<div class="article-box">
		<p class="article-box-title">{{ T "latest_post" }}</p>
		<div class="article-list">
			{{- range first 5 (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
			<div class="article">
				<h3 class="article-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
			</div>
			{{- end }}
		</div>
	</div>
</aside>