{{ define "main" }}
<main class="article-box">
	<p class="article-box-title">{{ T "post" }}</p>
	<div class="article-list">
		{{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
		{{ range $paginator.Pages }}
		{{ .Render "summary" }}
		{{ end }}
	</div>
	{{ partial "pagination.html" . }}
</main>
{{ partial "sidebar.html" . }}
{{ end }}